$background-color: #000000;

$color-input-font: #9184a0;
$color-input-background: #2c2534;

$color-main-font: #675f6d;
$color-label-font: #5c4e6e;

$padding-mobile-overlay: 30px;

$color-error: #940000;
