$font-family--header: 'Roboto';
$font-size--header: 30px;
$font-weight--thin: 100;
$font-weight--light: 300;
$font-size--main: 16px;


$color--bg-main: #000000;
$color--bg-accent: #2c2534;
$font-color--main: #675f6d;
$font-color--accent:#5c4e6e;
$font-color--light:#8f819e;

$space--s: 10px;
$space--m: 20px;
$space--l: 30px;
